body {
	font-family: "Titilium Web", sans-serif;
}

.navbar {
	background-color: hsl(120, 73%, 37%);
}

#cabecalho .nav .nav-link.active {
	background-color: white;
	color: hsl(120, 73%, 37%);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
	color: white;
}

.carousel-item img {
	height: 600px;
}

.section-title {
	font-family: Tomorrow, sans-serif;
}

.text-decoration-underline {
	text-decoration-color: hsl(120, 73%, 37%) !important;
	text-underline-offset: 7px;
}

.navbar-toggler {
	background-color: #fff;
}

#sobre-a-empresa,
#cardapio {
	background-color: #ffeae6;
}

.text-colored {
	color: hsl(120, 73%, 37%);
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
	background-color: hsl(120, 73%, 37%);
	color: white;
}

.nav-cardapio .nav-link:hover {
	color: hsl(120, 73%, 37%);
}

.flex-list-style {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 767px) {
	.carousel-item img {
		height: 280px;
	}
}
